server:
  address: ":8000"
  openapiPath: "/api.json"
  swaggerPath: "/swagger"

logger:
  level: "all"
  stdout: true

raycast:
  xray: "/path/to/xray"
  xrayConfig: "/tmp/raycast-config.json"
  xrayApiAddr: "127.0.0.1:2023"

panel:
  enabled: true
  webEnabled: true
  apiEnabled: true
  rootDir: "/_p"

certificates:
  - c1:
    refresh: 3600
    cert: "/path/to/cert.crt"
    key: "/path/to/key.key"

inbound:
  - http:
      listen: "127.0.0.1:1070"
      users:
        - "admin:passwd"

  - socks:
      listen: "127.0.0.1:1071"
      udp: true
      users:
        - "admin:passwd"

  - vmess:
      listen: "127.0.0.1:1081"
      secure: true
      users:
        - "de09c259-2132-4ba5-b922-f9e80edcd4e0:u1"
        - "117ca23b-40ba-426b-94b9-4b8dc97f3383:u2"
      security:
        reality: "quq.example.com,bnb.example.com"
        priKey: "KLjeBJPS6QM9C5QzF1Deun7O6lUgysNOS4u0ppAppFQ"
        pubKey: "Fscob0tMI2OZ7pRV22z8Kqnt6oW-HcoBS9KlwYJQkwY"
        secret:
          - "1234567890abcdef"
          - "abcdef1234567890"
        fingerprint: "firefox"
        fallback: "127.0.0.1:443|0"
        ver: "1.8.0-1.8.3"
        timeDiff: 100
        spider: ""

  - vmess:
      listen: "127.0.0.1:1080"
      secure: true
      users:
        - "4b15c15e-5cc4-459f-aa09-63ec873e0c11:u3"
        - "48c1751a-f5c9-4d93-a27a-e3cff1c92b6c:u4"
      security:
        tls: "www.example.com"
        ver: "1.2-1.3"
        sniCheck: true
        alpn: "h2,http/1.1"
        cipherSuites: ""
        fingerprint: "firefox"
        certificates: "c1"

  - trojan:
      listen: "127.0.0.1:1082"
      fallback: "127.0.0.1:80|0"
      users:
        - "4b15c15e-5cc4-459f-aa09-63ec873e0c11:u3"
        - "48c1751a-f5c9-4d93-a27a-e3cff1c92b6c:u4"
      security:
        tls: "www.example.com"
        ver: "1.2-1.3"
        sniCheck: true
        alpn: "h2,http/1.1"
        cipherSuites: ""
        fingerprint: "firefox"
        certificates: "c1"

outbound:
  - subscribe:
      link: "https://example.com/sub"
      ignoreName:
        - "剩余"
        - "更新"
      ignoreAddr:
        - "127.0.0.1"
      refresh: 36009

  - links:
      - "vmess://xxxxxxxxxxxxxxx"
      - "ss://xxxxxxxxxxxxxxxxxx"

  # 仅测试使用
  - direct:
      through: ":0"
      resolver: "system" # system | xray | xray4 | xray6

  # 仅测试使用
  - block:

  - vmess:
      through: "0.0.0.0"
      server: "127.0.0.1:1025"
      user: "4b15c15e-5cc4-459f-aa09-63ec873e0c11"

  - vmess:
      through: "0.0.0.0"
      server: "127.0.0.1:2048"
      user: "4b15c15e-5cc4-459f-aa09-63ec873e0c11"
      security:
        tls: "www.example.com"
        domain: "1.2-1.3"
        alpn: "h2,http/1.1"
        cipherSuites: ""
        fingerprint: "firefox"

  - trojan:
      through: "0.0.0.0"
      server: "127.0.0.1:2048"
      user: "4b15c15e-5cc4-459f-aa09-63ec873e0c11"
      security:
        tls: "www.example.com"
        domain: "1.2-1.3"
        alpn: ""
        cipherSuites: ""
        fingerprint: ""

  - vmess:
      through: "0.0.0.0"
      server: "127.0.0.1:3072"
      user: "4b15c15e-5cc4-459f-aa09-63ec873e0c11"
      security:
        reality: "quq.example.com"
        priKey: "KLjeBJPS6QM9C5QzF1Deun7O6lUgysNOS4u0ppAppFQ"
        pubKey: "Fscob0tMI2OZ7pRV22z8Kqnt6oW-HcoBS9KlwYJQkwY"
        secret:
          - "1234567890abcdef"
        fingerprint: "firefox"
        timeDiff: 100
        spider: ""

# 仅测试使用
route:
  -
    inbound:
      - "in1"
      - "in2"
    outbound:
      - "out1"
      - "$user-out-"
    network: "tcp"
    protocol: "http,tls,bittorrent"
    domain:
      - "xxx.com"
      - "yyy.com"
    ip:
      - "0.0.0.0/8"
      - "fc00::/7"
    user:
      - "11111"
      - "22222"
    httpAttrs:
      - :method: "GET"
      - :path: "/23456"
    sourcePort: "53,443,1000-2000"
    targetPort: "53,443,1000-2000"
